<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=sect, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
       <% card2.forEach(element => {%>
        <p>Cases:<%= element.Cases%></p>
        <p>DATE:<%= element.Date %></p>
        <%});%>
    </section>
</body>
</html>