<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%  if (card4.lenght=== 0) {%>
    
  <%  }%>
    <% card4.forEach(element => {%>
        <p>country :<%= element.country %></p>
        <p>DATE:<%= element.date %></p>
     <form action="/country/<%= element.id %>" method="get">
<button type="submit">detalies</button>
     </form>
        <%});%>

</body>
</html>